/* ------------------------------------------------------------------ */
/* Styles for Pages Layout
/* ------------------------------------------------------------------ */

body { background: #0f0f0f; } /* #0f0f0f - black color for background */

.page-content {
  width: 70%; /*previously, 96 */
  max-width: 1020px;
  margin: 0 auto;
  color: #000;
}
.page{
  background: #fff;
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
}

/* ------------------------------------------------------------------ */
/* Styles for Homepage Left-Right Adaptive Sectioning
/* ------------------------------------------------------------------ */

.section-lr { 
  width: 100%;
  overflow:hidden;
}

.section-lr-header {
  padding: 10px;
  float:left; 
  margin-right:20px;
  width:25%;
  min-width:130px; /*Change this to change the size of left col*/
  text-align: center;
}

.section-lr-content { 
  overflow:hidden;
  margin:10px;
  min-height:170px;
}


@media screen and (max-width: 450px) { /*Change this to change the trigger point of the responsive layout*/
   .section-lr-header { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
  }
}

.spotlight {
   position: relative;
   width: 120px;
   height: 120px;
   border-radius: 100%;
}


/* ------------------------------------------------------------------ */
/* Styles for Resume Section
/* TODO: These are exactly the same as section-lr-content and section-lr-header
/* so refactor to use those instead 
/* ------------------------------------------------------------------ */

.resume-section { 
  width: 100%;
  overflow:hidden;
}

.resume-section-title {
  padding: 10px;
  float:left; 
  margin-right:20px;
  width:25%;
  min-width:130px; /*Change this to change the size of left col*/
  text-align: center;
}
.resume-section-title span {
  border-bottom: 3px solid #F08406;
  margin: 0 auto;
  display: inline-block;
  font: 18px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
}

.resume-content { 
  overflow:hidden;
  margin:10px;
  min-height:170px;
}

.resume-content ul li:before{
  content:"\2714\0020";
  line-height: 1.5;
}
.resume-content ul li ul li:before{
  content:"\2714\0020";
  line-height: 1.5;
}
.resume-pub {
    float: Left;
    text-justify:inter-word;
    margin: 0 20px 0 0 ;
    text-align: justify;
    padding-right: 50px
}
/*.resume-pub ul li:before{
  content:"\2714\0020";
  line-height: 1.5;
}
/*.resume-pub ul li ul li:before{
  content:"\2714\0020";
  line-height: 1.5;
  
	
@media screen and (max-width: 450px) { /*Change this to change the trigger point of the responsive layout*/
   .resume-section-title { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
  }


.resume-bar {
  background: #999;
  width: 100%;
  float: left;
  padding: 0;
  text-align: left;
  height:20px; /* Height of the bar */

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
.resume-skill {
  background: #333;
  text-align: left;
  height:20px; /* Height of the bar */
  padding-right: 20px;
  line-height: 40px;

  /* top-left | top-right | bottom-right | bottom-left */
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -khtml-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}


/* ------------------------------------------------------------------ */
/* Styles for Lists and Objects of Featured Blog Posts 
/* ------------------------------------------------------------------ */

.featured-list {}

.featured-post {
  font-family: "Lato", "PingFang SC", "Microsoft YaHei", sans-serif; 
}

.featured-header {
  position: relative;
  text-align: center;
}

.featured-title { 
   font-family: "Lato", "PingFang SC", "Microsoft YaHei", sans-serif; 
   padding-bottom: 0px;
   line-height: normal; 
   margin-bottom: 0px;
}

.featured-title-link {
   word-break: break-word;
   display: inline-block; 
   position: relative; 
   border-bottom: 3px solid #F08406; /* LINE UNDERNEATH, was #11ABB0 */
   line-height: 1.2;
   padding-bottom: 6px;
}

.featured-meta {
   font-size: 12px;
   margin: 0px 0 10px 0;
   display: block; 
   position: relative; 
   color: #5e5e5e;
}

.featured-body {
  background: #fff; /* redundant */
  margin: 10px auto 15px;
  text-align: center; 
  font-size: 16px;
  color: #000;
  /*font-weight: bold;*/
  line-height: 1;
}
.featured-button {
  text-align: center;
}

.featured-footer {
  background: #fff;
  padding-top: 10px;
  margin-bottom: 40px;
}

.featured-footer hr {
    display: block;
    height: 1px;
    border: 0;
    width: 150px;
    border-top: 1px solid #ccc;
    margin: 0 auto;
    padding: 0;
}

/*TODO pagination*/

/* ------------------------------------------------------------------ */
/* Styles for Navigation Bar
/* ------------------------------------------------------------------ */


#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed; /* Sticky navigation bar */
   left: 0;
   top: 0;
}
.opaque { background-color: #333; } 

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

/*ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F08406; } /* NAVIGATION BAR COLOR WHEN HIGHLIGHTED */

/*ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }
  
  li {
      float: left;
  }
  */
  li a, .dropbtn {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
      background-color: orange;
  }
  
  li.dropdown {
      display: inline-block;
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  
  .dropdown-content a {
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
      display: block;
  }
/* ------------------------------------------------------------------ */
/* Styles for Posts Layout
/* ------------------------------------------------------------------ */

.post {
  background: #fff;
  padding-top: 90px;
  padding-bottom: 72px;
  overflow: hidden;
}

.post-header {
  width: 70%; 
  max-width: 1020px;
  margin: 0 auto; 
  font: 25px/30px 'opensans-bold', sans-serif;
}

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-content {
  width: 70%; /*previously, 96 */
  max-width: 1020px;
  margin: 0 auto;
  color: #000; 
}
.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

/* ------------------------------------------------------------------ */
/* Styles for Footer Include
/* ------------------------------------------------------------------ */

footer {
   background: #0f0f0f; 
   padding-top: 48px;
   margin-bottom: 48px;
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a:hover, footer a:focus { color: #fff; }

footer .footer-bio {
    padding-left: 10px;
    padding-right: 10px;
    color: #7c7c7c7c; /*828282;*/
}

/* ------------------------------------------------------------------ */
/* Syntax Highlighting 
/* ------------------------------------------------------------------ */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #ededed; }/*#eef*/

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }

